USE [GD1C2017]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_TURNO_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_RENDICION_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_RENDICION_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_FACTURA_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_FACTURA_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_CLIENTE_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_CHOFER_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_AUTO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] DROP CONSTRAINT [FK_VIAJES_AUTO_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_USUARIO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS] DROP CONSTRAINT [FK_USUARIO_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROL_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS] DROP CONSTRAINT [FK_ROL_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES] DROP CONSTRAINT [FK_TURNOS_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES] DROP CONSTRAINT [FK_CHOFER_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROLES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES] DROP CONSTRAINT [FK_ROLES_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_FUNCIONALIDADES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES] DROP CONSTRAINT [FK_FUNCIONALIDADES_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FACTURAS]'))
ALTER TABLE [OLA_K_ASE].[FACTURAS] DROP CONSTRAINT [FK_CLIENTE_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CLIENTES]'))
ALTER TABLE [OLA_K_ASE].[CLIENTES] DROP CONSTRAINT [FK_CLIENTES_USUARIOS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFERES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CHOFERES]'))
ALTER TABLE [OLA_K_ASE].[CHOFERES] DROP CONSTRAINT [FK_CHOFERES_USUARIOS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS] DROP CONSTRAINT [FK_TURNO_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS] DROP CONSTRAINT [FK_AUTOS_ID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_MARCAS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS] DROP CONSTRAINT [FK_AUTOS_MARCAS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_CHOFERES]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS] DROP CONSTRAINT [FK_AUTOS_CHOFERES]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[OLA_K_ASE].[DF_USUARIOS_HABILITADO]') AND type = 'D')
BEGIN
ALTER TABLE [OLA_K_ASE].[USUARIOS] DROP CONSTRAINT [DF_USUARIOS_HABILITADO]
END

GO
/****** Object:  Table [OLA_K_ASE].[VIAJES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[VIAJES]
GO
/****** Object:  Table [OLA_K_ASE].[USUARIOS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[USUARIOS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[USUARIOS]
GO
/****** Object:  Table [OLA_K_ASE].[TURNOS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[TURNOS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[TURNOS]
GO
/****** Object:  Table [OLA_K_ASE].[ROLES_USUARIOS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[ROLES_USUARIOS]
GO
/****** Object:  Table [OLA_K_ASE].[ROLES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[ROLES]
GO
/****** Object:  Table [OLA_K_ASE].[RENDICIONES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[RENDICIONES]
GO
/****** Object:  Table [OLA_K_ASE].[MARCAS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[MARCAS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[MARCAS]
GO
/****** Object:  Table [OLA_K_ASE].[FUNCIONALIDADES_ROLES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES]
GO
/****** Object:  Table [OLA_K_ASE].[FUNCIONALIDADES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[FUNCIONALIDADES]
GO
/****** Object:  Table [OLA_K_ASE].[FACTURAS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FACTURAS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[FACTURAS]
GO
/****** Object:  Table [OLA_K_ASE].[CLIENTES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[CLIENTES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[CLIENTES]
GO
/****** Object:  Table [OLA_K_ASE].[CHOFERES]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[CHOFERES]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[CHOFERES]
GO
/****** Object:  Table [OLA_K_ASE].[AUTOS_TURNOS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[AUTOS_TURNOS]
GO
/****** Object:  Table [OLA_K_ASE].[AUTOS]    Script Date: 5/15/2017 2:47:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]') AND type in (N'U'))
DROP TABLE [OLA_K_ASE].[AUTOS]
GO
/****** Object:  Table [OLA_K_ASE].[AUTOS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[AUTOS](
	[ID_AUTO] [int] IDENTITY(1,1) NOT NULL,
	[MARCA_ID] [int] NOT NULL,
	[MODELO] [varchar](255) NOT NULL,
	[PATENTE] [varchar](10) NOT NULL,
	[LICENCIA] [varchar](26) NULL,
	[RODADO] [varchar](10) NULL,
	[HABILITADO] [bit] NOT NULL CONSTRAINT [DF_AUTOS_HABILITADO]  DEFAULT ((1)),
	[CHOFER_ID] [int] NOT NULL,
 CONSTRAINT [PK_AUTOS] PRIMARY KEY CLUSTERED 
(
	[ID_AUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [PATENTE_UNIQUE_AUTOS] UNIQUE NONCLUSTERED 
(
	[ID_AUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[AUTOS_TURNOS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[AUTOS_TURNOS](
	[TURNO_ID] [int] NOT NULL,
	[AUTO_ID] [int] NOT NULL,
 CONSTRAINT [PK_AUTOS_TURNOS] PRIMARY KEY CLUSTERED 
(
	[TURNO_ID] ASC,
	[AUTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [OLA_K_ASE].[CHOFERES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[CHOFERES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[CHOFERES](
	[ID_CHOFER] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[DNI] [numeric](18, 0) NOT NULL,
	[DIRECCION] [varchar](255) NOT NULL,
	[TELEFONO] [numeric](18, 0) NOT NULL,
	[MAIL] [varchar](255) NOT NULL,
	[FECHA_NAC] [datetime] NOT NULL,
	[USUARIO_ID] [int] NULL,
	[HABILITADO] [bit] NOT NULL CONSTRAINT [DF_CHOFERES_HABILITADO]  DEFAULT ((1)),
 CONSTRAINT [PK_CHOFERES] PRIMARY KEY CLUSTERED 
(
	[ID_CHOFER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[CLIENTES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[CLIENTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[DNI] [numeric](18, 0) NOT NULL,
	[DIRECCION] [varchar](255) NOT NULL,
	[MAIL] [varchar](255) NOT NULL,
	[TELEFONO] [numeric](18, 0) NOT NULL,
	[FECHA_NAC] [datetime] NOT NULL,
	[HABIILITADO] [bit] NOT NULL CONSTRAINT [DF_CLIENTES_HABIILITADO]  DEFAULT ((1)),
	[USUARIO_ID] [int] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[FACTURAS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FACTURAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[FACTURAS](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[FECHA_FACT] [datetime] NOT NULL,
	[IMPORTE] [numeric](18, 2) NOT NULL CONSTRAINT [DF_FACTURAS_IMPORTE]  DEFAULT ((0)),
	[NUMERO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [OLA_K_ASE].[FUNCIONALIDADES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[FUNCIONALIDADES](
	[ID_FUNC] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_FUNCIONALIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_FUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[FUNCIONALIDADES_ROLES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES](
	[FUNCIONALIDADES_ID] [int] NOT NULL,
	[ROLES_ID] [int] NOT NULL,
 CONSTRAINT [PK_FUNCIONALIDADES_ROLES] PRIMARY KEY CLUSTERED 
(
	[FUNCIONALIDADES_ID] ASC,
	[ROLES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [OLA_K_ASE].[MARCAS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[MARCAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[MARCAS](
	[ID_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_MARCAS] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[RENDICIONES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[RENDICIONES](
	[ID_RENDICION] [int] IDENTITY(1,1) NOT NULL,
	[TURNO_ID] [int] NOT NULL,
	[NUMERO] [numeric](18, 0) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[IMPORTE] [numeric](18, 2) NOT NULL,
	[CHOFER_ID] [int] NOT NULL,
 CONSTRAINT [PK_RENDICIONES] PRIMARY KEY CLUSTERED 
(
	[ID_RENDICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [OLA_K_ASE].[ROLES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[ROLES](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[HABILITADO] [bit] NOT NULL CONSTRAINT [DF_ROLES_HABILITADO]  DEFAULT ((1)),
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[ROLES_USUARIOS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[ROLES_USUARIOS](
	[USUARIO_ID] [int] NOT NULL,
	[ROLES_ID] [int] NOT NULL,
 CONSTRAINT [PK_ROLES_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC,
	[ROLES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [OLA_K_ASE].[TURNOS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[TURNOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[TURNOS](
	[ID_TURNO] [int] IDENTITY(1,1) NOT NULL,
	[HORA_INICIO] [numeric](18, 0) NOT NULL,
	[HORA_FIN] [numeric](18, 0) NOT NULL,
	[DESCRIPCION] [varchar](255) NOT NULL,
	[VALOR_KM] [numeric](18, 2) NOT NULL,
	[PRECIO_BASE] [numeric](18, 2) NOT NULL,
	[HABILITADO] [bit] NOT NULL CONSTRAINT [DF_TURNOS_HABILITADO]  DEFAULT ((1)),
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[USUARIOS]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[USUARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[PASSWORD] [binary](32) NOT NULL,
	[CANT_FALLAS] [smallint] NOT NULL,
	[HABILITADO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [OLA_K_ASE].[VIAJES]    Script Date: 5/15/2017 2:47:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]') AND type in (N'U'))
BEGIN
CREATE TABLE [OLA_K_ASE].[VIAJES](
	[ID_VIAJE] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NULL,
	[CANTIDAD_KM] [numeric](18, 0) NOT NULL,
	[CHOFER_ID] [int] NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[AUTO_ID] [int] NOT NULL,
	[TURNO_ID] [int] NOT NULL,
	[RENDICION_ID] [int] NULL,
	[FACTURA_ID] [int] NULL,
 CONSTRAINT [PK_VIAJES] PRIMARY KEY CLUSTERED 
(
	[ID_VIAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[OLA_K_ASE].[DF_USUARIOS_HABILITADO]') AND type = 'D')
BEGIN
ALTER TABLE [OLA_K_ASE].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_HABILITADO]  DEFAULT ((1)) FOR [HABILITADO]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_CHOFERES]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS]  WITH CHECK ADD  CONSTRAINT [FK_AUTOS_CHOFERES] FOREIGN KEY([CHOFER_ID])
REFERENCES [OLA_K_ASE].[CHOFERES] ([ID_CHOFER])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_CHOFERES]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS] CHECK CONSTRAINT [FK_AUTOS_CHOFERES]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_MARCAS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS]  WITH CHECK ADD  CONSTRAINT [FK_AUTOS_MARCAS] FOREIGN KEY([MARCA_ID])
REFERENCES [OLA_K_ASE].[MARCAS] ([ID_MARCA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_MARCAS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS] CHECK CONSTRAINT [FK_AUTOS_MARCAS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_AUTOS_ID] FOREIGN KEY([AUTO_ID])
REFERENCES [OLA_K_ASE].[AUTOS] ([ID_AUTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_AUTOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS] CHECK CONSTRAINT [FK_AUTOS_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNO_ID] FOREIGN KEY([TURNO_ID])
REFERENCES [OLA_K_ASE].[TURNOS] ([ID_TURNO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[AUTOS_TURNOS]'))
ALTER TABLE [OLA_K_ASE].[AUTOS_TURNOS] CHECK CONSTRAINT [FK_TURNO_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFERES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CHOFERES]'))
ALTER TABLE [OLA_K_ASE].[CHOFERES]  WITH CHECK ADD  CONSTRAINT [FK_CHOFERES_USUARIOS] FOREIGN KEY([USUARIO_ID])
REFERENCES [OLA_K_ASE].[USUARIOS] ([ID_USUARIO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFERES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CHOFERES]'))
ALTER TABLE [OLA_K_ASE].[CHOFERES] CHECK CONSTRAINT [FK_CHOFERES_USUARIOS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CLIENTES]'))
ALTER TABLE [OLA_K_ASE].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_USUARIOS] FOREIGN KEY([USUARIO_ID])
REFERENCES [OLA_K_ASE].[USUARIOS] ([ID_USUARIO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTES_USUARIOS]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[CLIENTES]'))
ALTER TABLE [OLA_K_ASE].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_USUARIOS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FACTURAS]'))
ALTER TABLE [OLA_K_ASE].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ID] FOREIGN KEY([CLIENTE_ID])
REFERENCES [OLA_K_ASE].[CLIENTES] ([ID_CLIENTE])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FACTURAS]'))
ALTER TABLE [OLA_K_ASE].[FACTURAS] CHECK CONSTRAINT [FK_CLIENTE_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_FUNCIONALIDADES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONALIDADES_ID] FOREIGN KEY([FUNCIONALIDADES_ID])
REFERENCES [OLA_K_ASE].[FUNCIONALIDADES] ([ID_FUNC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_FUNCIONALIDADES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES] CHECK CONSTRAINT [FK_FUNCIONALIDADES_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROLES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_ROLES_ID] FOREIGN KEY([ROLES_ID])
REFERENCES [OLA_K_ASE].[ROLES] ([ID_ROL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROLES_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[FUNCIONALIDADES_ROLES]'))
ALTER TABLE [OLA_K_ASE].[FUNCIONALIDADES_ROLES] CHECK CONSTRAINT [FK_ROLES_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES]  WITH CHECK ADD  CONSTRAINT [FK_CHOFER_ID] FOREIGN KEY([CHOFER_ID])
REFERENCES [OLA_K_ASE].[CHOFERES] ([ID_CHOFER])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES] CHECK CONSTRAINT [FK_CHOFER_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_ID] FOREIGN KEY([TURNO_ID])
REFERENCES [OLA_K_ASE].[TURNOS] ([ID_TURNO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_TURNOS_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[RENDICIONES]'))
ALTER TABLE [OLA_K_ASE].[RENDICIONES] CHECK CONSTRAINT [FK_TURNOS_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROL_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ROL_ID] FOREIGN KEY([ROLES_ID])
REFERENCES [OLA_K_ASE].[ROLES] ([ID_ROL])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_ROL_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS] CHECK CONSTRAINT [FK_ROL_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_USUARIO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ID] FOREIGN KEY([USUARIO_ID])
REFERENCES [OLA_K_ASE].[USUARIOS] ([ID_USUARIO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_USUARIO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[ROLES_USUARIOS]'))
ALTER TABLE [OLA_K_ASE].[ROLES_USUARIOS] CHECK CONSTRAINT [FK_USUARIO_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_AUTO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_AUTO_ID] FOREIGN KEY([AUTO_ID])
REFERENCES [OLA_K_ASE].[AUTOS] ([ID_AUTO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_AUTO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_AUTO_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_CHOFER_ID] FOREIGN KEY([CHOFER_ID])
REFERENCES [OLA_K_ASE].[CHOFERES] ([ID_CHOFER])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CHOFER_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_CHOFER_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_CLIENTE_ID] FOREIGN KEY([CLIENTE_ID])
REFERENCES [OLA_K_ASE].[CLIENTES] ([ID_CLIENTE])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_CLIENTE_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_CLIENTE_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_FACTURA_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_FACTURA_ID] FOREIGN KEY([FACTURA_ID])
REFERENCES [OLA_K_ASE].[FACTURAS] ([ID_FACTURA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_FACTURA_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_FACTURA_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_RENDICION_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_RENDICION_ID] FOREIGN KEY([RENDICION_ID])
REFERENCES [OLA_K_ASE].[RENDICIONES] ([ID_RENDICION])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_RENDICION_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_RENDICION_ID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES]  WITH CHECK ADD  CONSTRAINT [FK_VIAJES_TURNO_ID] FOREIGN KEY([TURNO_ID])
REFERENCES [OLA_K_ASE].[TURNOS] ([ID_TURNO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[OLA_K_ASE].[FK_VIAJES_TURNO_ID]') AND parent_object_id = OBJECT_ID(N'[OLA_K_ASE].[VIAJES]'))
ALTER TABLE [OLA_K_ASE].[VIAJES] CHECK CONSTRAINT [FK_VIAJES_TURNO_ID]
GO
